.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.accordion {
    width: 500px;
}

.accordion-button {
    margin-bottom: 20px;
    height: 50px;
    border-radius: 10px;
    border: lightblue 2px solid;
}

.item {
    background-color: black;
    margin-bottom: 20px;
    padding: 20px;
}

.title {
    font-size: 30px;
    color: royalblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.answer {
    color: white;
    height: auto;
    margin-top: 15px;
    font-size: 25px;
}