*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.star-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.star-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid black;
    border-radius: 10px;
    height: 500px;
    width: 800px;
}

.button-change{
    display: flex;
    flex-direction: column;
}

.buttoncolor{
    color: #D5AB55;
}